[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservices-williams/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/nest-microservices-williams/products-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/nest-microservices-williams/orders-microservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/nest-microservices-williams/payments-microservice.git
[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/nest-microservices-williams/auth-microservice.git
